target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/cloud-gateway-proxy/*.classpath
/cloud-gateway-proxy/.settings/org.eclipse.core.resources.prefs
/cloud-gateway-proxy/.settings/org.eclipse.jdt.core.prefs
/cloud-gateway-proxy/.settings/org.eclipse.m2e.core.prefs
/cloud-gateway-proxy/*.project
/service-one/*.classpath
/service-one/*.project
/service-one/.settings/*.prefs
/service-two/*.classpath
/service-two/*.project
/service-two/.settings/*.prefs
